

body button {
    width: 20%;
    padding: 15px;
    margin: 20px;
    justify-self: center;
    color: white;
    background: #0041c2;
    font-weight: bolder;
    font-family: 'Open Sans';
    border-radius: 4px;
}

body {
    display: grid;
}